{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des annonces</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Réservations</th>
            <th>Note</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ads in ad %}
        <tr>
            <td> </td>
            <td>{{ ads.title }}</td>
            <td>
                <img src="{{ ads.author.picture }}" alt="Avatar de {{ ads.author.fullName }}" class="avatar avatar-mini mr-2">
                {{ ads.author.fullName }}
            </td>
            <td>
                <span class="badge badge-primary rounded"> {{ ads.bookings | length }}</span>
            </td>
            <td>
                <span class="badge badge-primary rounded">{{ ads.AvgRating | number_format(1, ',')}}</span>
            </td>
            <td>
                <a href="{{ path('admin_ad_edit', {'id': ads.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        
    </table>
</div>
{% endblock %}
