{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur ce site de recherche de location{% endblock %}

{% block body %}

  <div class="container">
    <div class="jumbotron mt-3">
      <h2 class="display-3">Bienvenue sur SymBnB!</h2>
      <p class="lead">Ceci est un projet bac à sable sur le principe de AirBnB pour réviser les fondements de Symfony et
        bien plus encore </p>
      <hr class="my-4">
      <p>Vous cherchez un logement pour vos déplacements personnels ou professionnels c'est là que ça se passe</p>
      <p class="lead mt-6">
        <a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
      </p>
    </div>

    <h2 class="mt-3">Nos appartements stars du moment</h2>

    <div class="row">
      {% for data in ad %}
        {% include 'ad/_ad.html.twig' with {'ad': data.annonce} %}

      {% endfor %}

    </div>

    <h2 class="mt-3 mb-5">Nos proprios</h2>

    <div class="row">
      {% for data in users %}

      <div class="col">
        <div class="card border-secondary mb3">
          <div class="card-body">
            <h4 class="card-title">{{ data.user.fullName }}</h4>
            <hr>

            <div class="card-text">
              <img src="{{ data.user.picture }}" alt="{{ data.user.fullName }}" class="float-left mr-3 avatar">
              <p>{{ data.user.introduction }}</p>
              <a href="{{ path('user_show', {'slug': data.user.slug}) }}" class="btn btn-success float-right">plus d'infos</a>
            </div>
          </div>
        </div>
      </div>
{% endfor %}


    </div>


  </div>
{% endblock %}
