
{% block body %}
{% set url = path('ad_show', {'slug': ad.slug}) %}

<div class="col-md-4">
  <div class="card bg-light mb-3 mt-3">
    <div class="card-header text-center">
      {{ ad.rooms }} chambres, <strong> {{ ad.price }}&euro; / nuit</strong> <br>
      {% if ad.comments|length > 0 %}
      {% include 'partials/rating.html.twig' with {'rating': ad.avgRating} %}
      {% else %}
      <small>pas encore noté</small>
      {% endif %}
    </div>
    <a href="{{ url }}">
      <img src="{{ ad.coverImage }}" alt="image de description du bien"
           style="height: 200px; width: 100%; display: block">
    </a>

    <div class="card-body">
      <a href="{{ url }}">
        <h4 class="card-title">
          {{ ad.title }}
        </h4>
      </a>
      <p class="card-text">
        {{ ad.introduction }}
      </p>
      <a href="{{ url }}" class="btn btn-secondary">plus d'infos</a>

      {% if app.user and app.user == ad.author %}
        <a href="{{ path('ad_edit', {'slug': ad.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
      {% endif %}

    </div>
  </div>
</div>


{% endblock %}