{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block body %}
  <div class="container">
<h1>Nos annonces en location</h1>

    <div class="row">
    {% for ad in ads %}
      {% set url = path('ad_show', {'slug': ad.slug}) %}
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
          {{ ad.rooms }} chambres, <strong> {{ ad.price }}&euro; / nuit</strong> <br>
          <small>pas encore noté</small>
        </div>
        <a href="{{ url }}">
        <img src="{{ ad.coverImage }}" alt="image de description du bien"
             style="height: 200px; width: 100%; display: block">
        </a>

        <div class="card-body">
          <a href="{{ url }}">
          <h4 class="card-title">
            {{ ad.title }}
          </h4>
          </a>
          <p class="card-text">
            {{ ad.introduction }}
          </p>
          <a href="{{ url }}" class="btn btn-secondary">plus d'infos</a>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
